body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

p {
    display:inline;
}

.container {
    border: 2px solid black;
    width: 90%;
    height: 80%;
    padding: 20px;
}

.form-horizontal {
    padding-top: 20px;
}

label {
    text-align: right;
    vertical-align: middle;
    padding: 7px 15px 7px 0px;
}

#del {
    height: 24px;
    width: 24px;
    background-image: url("../images/trash.png");
    margin: auto;
}

#dialog {
    display:none;
    width: 500px;
}


input[type="text"], .optgroup {
    font-size:12px;
}

.col-left {
    padding-left: 15px !important;
}